@font-face {
    font-family: OpenSans;
    src: url(../../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../../fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: Cera;
    src: url(../../fonts/Fontspring-DEMO-ceraroundpro-regular.otf);
}